
body {
    background: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}


.card {
    background: #1C1C1C;
    width: 1000px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}


.titulo-pagina {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.btn-add {
    background: #1A73E8;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add:hover {
    background: #1A73E8;
}

.search-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-busca {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-buscar {
    padding: 10px 18px;
    background: #1A73E8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-buscar:hover {
    background: #1A73E8;
}


.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela thead {
    background: #e8f0ff;
}

.tabela th, .tabela td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.tabela tr:hover {
    background: #f1f1f1;
}

.btn-editar {
    background: #1A73E8;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-excluir {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-editar:hover {
    background: #1A73E8;
}

.btn-excluir:hover {
    background: #b71c1c;
}
.texto-branco{
    color: white;
}
.texto-azul {
    color: #1A73E8;
}
.a{
    background-color: white;
}