<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Painel do Cliente</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tema.css">
</head>
<body>
<div class="panel-container">
    <div class="logo">
        <span class="text">Acervo</span><span class="plus">+</span>
    </div>

    <h2>Bem-vindo, Cliente!</h2>
    <p>Aqui você poderá consultar livros e solicitar empréstimos.</p>

    <form th:action="@{/login}" method="get">
        <button type="submit">Sair</button>
    </form>
</div>
</body>
</html>
